html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: 115% !important;
    outline: none !important;
}

.app {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;

    @media screen and (max-width: 61.1875em) {
        width: 648px;
    }

    @media screen and (max-width: 46em) {
        width: auto;
        min-width: 12.5em;
    }

    .big.button .visible.content {
        line-height: 150% !important;
    }

    .text.center {
        text-align: center;
    }

    .p5.top {
        padding-top: 5px;
    }

    small {
        line-height: 80%;
    }
}

