<br>
<div class="ui accordion">
    <div class="active title">
        <i class="dropdown icon"></i>
        What are the rules?
    </div>
    <div class="active content">
        <p>There is a single rule: please show up on time or cancel yourself before the assignment, otherwise you will be <u>banned</u>.</p>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Can I bring a friend/colleague with me?
    </div>
    <div class="content">
        <p>Sure! However, please limit to a single friend/colleague as you already know each other and finding a table for more than 5-6 people might be tricky.</p>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        How can I avoid fear of silence?
    </div>
    <div class="content">
        <p>There are plenty of interesting topics to discuss, beyond the traditional small talk (name, origin, hobbies, ...). Ask about past experiences, current projects or brainstorm together about an issue!</p>
    </div>
</div>

<br>
<br>

<p>
    <small>
        You can reach us by sending an email to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#114;&#111;&#113;&#117;&#101;&#064;&#101;&#112;&#102;&#108;&#046;&#099;&#104;">&#099;&#114;&#111;&#113;&#117;&#101;&#064;&#101;&#112;&#102;&#108;&#046;&#099;&#104;</a> (feedback is welcomed!) or contribute to the project on <a href="https://github.com/zifeo/Croque">Github</a>.
        <br>
        {{# if user}}
            Connected as {{ user.firstname }}, <a href="sober">logout</a>.
        {{ else }}
            <a href="drink">Login with Tequila</a> to manage lunch and reminders.
        {{/if}}
    </small>
</p>
