<br>
<div class="ui accordion">
    <div class="active title">
        <i class="dropdown icon"></i>
        Can I bring a friend with me?
    </div>
    <div class="active content">
        <p>Sure! However, please limit to a single friend as you already know each other and finding a table for more that 5-6 people might be sometime tricky.</p>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        How can I avoid fear of silence?
    </div>
    <div class="content">
        <p>There are plenty of interesting topics to discuss beyond classical scopes (name, position, origin). Ask about past experiences, current project or brainstorm about an issue!</p>
    </div>
</div>

<br>
<br>

<p>
    Ask questions and give feedback directly on <a href="">Facebook</a>.
</p>