<br>
<div class="ui accordion">
    <div class="active title">
        <i class="dropdown icon"></i>
        Can I bring a friend with me?
    </div>
    <div class="active content">
        <p>Sure! However, please limit to a single friend as you already know each other and finding a table for more that 5-6 people might be sometime tricky.</p>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        How can I avoid fear of silence?
    </div>
    <div class="content">
        <p>There are plenty of interesting topics to discuss beyond classical scopes (name, position, origin). Ask about past experiences, current projects or brainstorm together about an issue!</p>
    </div>
</div>

<br>
<br>

<p>
    Give feedback to <a href="http://www.google.com/recaptcha/mailhide/d?k=01le0itcWtFVA0RbpM1fLmpg==&amp;c=NI3DsMs7oq89XqpbSlwWAIBVgzFn0O6qO2B_g-iSaA8=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01le0itcWtFVA0RbpM1fLmpg\x3d\x3d\x26c\x3dNI3DsMs7oq89XqpbSlwWAIBVgzFn0O6qO2B_g-iSaA8\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">c...</a>@epfl.life or contribute directly on <a href="https://github.com/zifeo/Croque">Github</a>.
    {{# if user}}
        <br> Connected as {{ user.firstname }}, <a href="sober">logout</a>.
    {{/if}}
</p>
