<h1>Croque</h1>
<p>
    EPFL is a great place.
    Croque is an <a href="agepoly.ch">Agepoly</a> and <a href="http://musical.epfl.ch/">Musical</a> initiative to take friendliness on the campus to the next level.
    Whether you don't like to eat alone, you want to meet new buddies, you're curious about people elsewhere or you're a chatty person, let's have fun and lunch together 😎 !
</p>
<p>
    Every EPFL member can register for next weekday lunch (in french, english or both).
    At <strong>12.00am</strong>, joiners will be randomly assigned to groups of 3-4 people and <strong>receive an email</strong> containing one campus location and first names.
    They should meet there at <strong>12.15am</strong> and decide where to go for lunch.
    The rest is up to them 🎉 !<br>
    <small>(When lacking people, joiners will receive a cancellation, let's retry another day.)</small>
</p>
<p>
    There is a single rule: please show up on time or cancel yourself before the assignment, otherwise you will be banned.
</p>