<h1>Croque</h1>
<p>
    EPFL is a great place.
    Croque is an <a href="https://agepoly.ch/">Agepoly</a> and <a href="http://musical.epfl.ch/">Musical</a> initiative to bring up more friendly, unexpected and surprising encounters on the campus.
    Whether you don't like to eat alone, you want to meet new buddies, you're curious about people elsewhere or you're a chatty one, let's have lunch and fun together 😎 !
</p>
<p>
    Every EPFL member can register for the next Tuesday or Thursday lunch (in french, english or both).
    At <strong>11.30AM</strong>, joiners will be randomly assigned to groups of 3-4 people and <strong>receive an email</strong> containing a campus location and participants’ first names.
    They should meet there at <strong>12.10PM</strong> and decide where to go for lunch.
    The rest is up to them 🎉 !<br>
    <small>(In case of a lack of people, meetings will be postponed by email.)</small>
</p>
<div class="ui warning message">
    The <strong>assignment time has been changed to 11:30AM</strong> thus joiners should update their status before that time!
</div>
<!--<br/>-->
