<div class="ui icon green message">
    <i class="checkmark icon"></i>
    <div class="content">
        <div class="header">
            You're good to go and enjoy the {{ nextNoon }} lunch!
        </div>
        <p>You will receive your assignment by email at 12.00PM. Please remember to be on time there.</p>
    </div>
</div>
<div class="ui center aligned grid">
    <div class="column eight wide">
        <a href="pending" class="ui animated fade orange big button" tabindex="0">
            <div class="visible content">Cancel the lunch</div>
            <div class="hidden content">
                Noo!
            </div>
        </a>
    </div>
</div>