<div class="ui form">
    <div class="inline fields">
        <label for="lang">I speak</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="lang" class="hidden">
                <label>French</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="lang" class="hidden">
                <label>English</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="lang" class="hidden">
                <label>Both</label>
            </div>
        </div>
    </div>
</div>