<div class="ui icon message">
    <i class="wait icon"></i>
    <div class="content">
        <div class="header">
            Next random lunch {{ nextNoonToNow }}: {{ nextNoon }}
        </div>
        <p>You can still update your status until assignment time. Please do not forget about the rule.</p>
    </div>
</div>
<div class="ui center aligned grid">
    <div class="column eight wide">
        <a href="joining" class="ui green animated fade big button" tabindex="0">
            <div class="visible content">Join the lunch</div>
            <div class="hidden content">
                Yeah!
            </div>
        </a>
    </div>
</div>