<br>
<div class="ui center aligned grid form">
    <div class="fields">

        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="type" class="hidden" {{ type 'staff'}}>
                <label class="type selector" rel="staff"><small>I'm a staff, only</small> meet staffs</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="type" class="hidden" {{ type 'any' }}>
                <label class="type selector" rel="any"><small>I don't care,</small> meet everyone</label>
            </div>
        </div>
    </div>
</div>
<br>