<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Croque</title>
    <!--<meta name="description" content="">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon-retina-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon-retina-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon-standard-ipad.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon-standard-iphone.png">-->
    <link href="/app.css" rel="stylesheet" type="text/css" media="all">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12203352-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-12203352-3', {'anonymize_ip': true});
    </script>

    <link rel="shortcut icon" href="//www.epfl.ch/favicon.ico" type="image/x-icon"/>

</head>
<body>

<div class="epfl">
    <div id="overlay" class="overlay"></div>

    <div class="site site-wrapper">
        <header id="epfl-header" class="site-header epfl" role="banner" aria-label="Global EPFL banner">
            <div class="logo"><a href="//www.epfl.ch"><span class="visuallyhidden">EPFL Homepage</span>
                <svg width="95" height="46">
                    <image xlink:href="//www.epfl.ch/public/hp2013/epfl-bootstrap/images/logo.c366d4772210.svg"
                           src="//www.epfl.ch/public/hp2013/epfl-bootstrap/images/logo.0db041f79158.png" width="95"
                           height="46"></image>
                </svg>
            </a></div>
            <div class="epflnav"><a href="#epfl-navigation" id="epfl-navigation-label"
                                    class="icon icon-menu toggle-hidden ui-toggle" data-widget="toggle" tabindex="0"
                                    role="button" aria-controls="epfl-navigation"><span class="visuallyhidden">Global EPFL navigation</span></a>
                <nav id="epfl-navigation" class="nav visible-s visible-m visible-l visible-xl visible-xxl toggle-hidden"
                     role="navigation" aria-labelledby="epfl-navigation-label" aria-hidden="true">
                    <ul class="nav-list">
                        <li class="nav-item public"><a id="public-link" href="//www.epfl.ch/navigate.en.shtml"
                                                       class="nav-link toggle-hidden ui-toggle" data-widget="toggle"
                                                       data-overlay="true" aria-controls="public-pane" tabindex="0"
                                                       role="button">You <span>are</span><span
                                class="icon icon-arrow-bottom-right" role="presentation" hidden="hidden"></span></a>
                        </li>
                        <li class="nav-item school"><a id="school-link" href="//www.epfl.ch/navigate.en.shtml"
                                                       class="nav-link toggle-hidden ui-toggle" data-widget="toggle"
                                                       data-overlay="true" aria-controls="school-pane" tabindex="0"
                                                       role="button">By <span>school</span><span
                                class="icon icon-arrow-bottom-right" role="presentation" hidden="hidden"></span></a>
                        </li>
                        <li class="nav-item about"><a id="about-link" href="//www.epfl.ch/navigate.en.shtml"
                                                      class="nav-link toggle-hidden ui-toggle" data-widget="toggle"
                                                      data-overlay="true" aria-controls="about-pane" tabindex="0"
                                                      role="button">About <span>EPFL</span><span
                                class="icon icon-arrow-bottom-right" role="presentation" hidden="hidden"></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="search">
                <a href="#search" class="icon icon-magnifier toggle-hidden ui-toggle" data-widget="toggle" tabindex="0"
                   role="button" aria-controls="search">
                    <span class="visuallyhidden">Recherche</span>
                </a>
                <div id="search" aria-hidden="true" role="search" class="toggle-hidden">
                    <form id="search-form" class="form form-inline" action="//search.epfl.ch">
                        <div class="form-input-group">
                            <div class="form-input"><label class="visuallyhidden" for="search-query">Requête de
                                recherche</label><input id="search-query" class="search-query" type="text"
                                                        placeholder="chercher…" name="q" accesskey="4"></div>
                            <div class="form-input form-input-mini">
                                <button class="themed search-submit" type="submit"><span class="icon icon-magnifier"
                                                                                         role="presentation"
                                                                                         hidden="hidden"></span><span
                                        class="visuallyhidden">Chercher</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="public-pane" class="pane public toggle-hidden ui-overlay" aria-hidden="true">
                <nav role="navigation" aria-labelledby="public-link"><h1 class="visuallyhidden">Global navigation by
                    public</h1>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//futuretudiant.epfl.ch/en">Prospective
                            students portal</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//bachelor.epfl.ch/studies"><strong>Bachelor</strong></a>, <a
                                    class="nav-link" href="//master.epfl.ch/page-94489-en.html"><strong>Master</strong></a>,
                                <a class="nav-link" href="//phd.epfl.ch/home"><strong>PhD</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//futuretudiant.epfl.ch/mobility"><strong>Exchange
                                student</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//studying.epfl.ch/en">Students portal</a>
                        </h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//studying.epfl.ch/student_desk"><strong>Student
                                services</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//memento.epfl.ch/academic-calendar/en"><strong>Academic
                                calendar</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//research.epfl.ch/en">Researchers
                            portal</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//research-office.epfl.ch/funding"><strong>Research
                                funding</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//actu.epfl.ch/search/research_awards/"><strong>Prizes and
                                Awards</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media clear nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//working.epfl.ch/staff-portal">Staff
                            portal</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//rh.epfl.ch"><strong>Human
                                resources</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//polylex.epfl.ch/page-26060-en.html"><strong>Polylex: laws,
                                directives</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//entreprises.epfl.ch/business">Business
                            portal</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//vpi.epfl.ch/en"><strong>Innovation &amp;
                                Tech Transfer</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//vpi.epfl.ch/innovationpark"><strong>EPFL
                                Innovation Park</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a
                                href="//medias.epfl.ch/media-and-communications">Mediacorner</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//actu.epfl.ch/search/mediacom/?keywords=&amp;date_filter=all&amp;projects=190&amp;search=Rechercher"><strong>Press
                                releases</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//mediacom.epfl.ch/epfl-magazine-en"><strong>EPFL
                                Magazine</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//mediatheque.epfl.ch/"><strong>Image
                                library</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media clear nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//teaching.epfl.ch/en">Teaching portal</a>
                        </h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//teaching.epfl.ch/cms/site/teaching/lang/en/preparer-un-cours_1"><strong>Courses
                                management</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//teaching.epfl.ch/my-students_1"><strong>Students
                                management</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//epflalumni.ch/">EPFL Alumni Portal</a>
                        </h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//www.epflalumni.ch/avantages/formulaire-de-demande/"><strong>Join
                                the community</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//www.epflalumni.ch/nos-evenements/"><strong>Alumni
                                events</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//artlab.epfl.ch/home">Science and
                            Society</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//sps.epfl.ch/home"><strong>Science
                                Outreach</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//artlab.epfl.ch/home"><strong>Culture/Art/Science
                                - ArtLab</strong></a></li>
                        </ul>
                    </section>
                </nav>
            </div>
            <div id="school-pane" class="pane school toggle-hidden ui-overlay" aria-hidden="true">
                <nav role="navigation" aria-labelledby="school-link"><h1 class="visuallyhidden">Global navigation by
                    school</h1>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header enac-color"><a href="//enac.epfl.ch/en">Architecture, Civil and
                            Environmental Engineering <abbr title="Architecture, Civil and Environmental Engineering">ENAC</abbr></a>
                        </h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//enac.epfl.ch/en/architecture"><strong>Architecture</strong></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="//enac.epfl.ch/civil-engineering"><strong>Civil
                                Engineering</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//enac.epfl.ch/environmental-engineering"><strong>Environmental
                                Engineering</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header sb-color"><a href="//sb.epfl.ch/en">Basic Sciences <abbr
                                title="Basic Sciences">SB</abbr></a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//sb.epfl.ch/chemistry"><strong>Chemistry</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//sb.epfl.ch/mathematics"><strong>Mathematics</strong></a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//sb.epfl.ch/physics"><strong>Physics</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header sti-color"><a href="//sti.epfl.ch/en">Engineering <abbr
                                title="Engineering">STI</abbr></a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//sti.epfl.ch/electrical-engineering"><strong>Electrical
                                Engineering</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//sti.epfl.ch/mechanical-engineering"><strong>Mechanical
                                Engineering</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//sti.epfl.ch/materials-science-and-engineering"><strong>Materials
                                Science and Engineering</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//sti.epfl.ch/microengineering"><strong>Microengineering</strong></a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//ibi.epfl.ch/"><strong>Bioengineering</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media clear nav nav-vertical">
                        <header><h2 class="media-header ic-color"><a href="//ic.epfl.ch/en">Computer and Communication
                            Sciences <abbr title="Computer &amp; Communication Sciences">IC</abbr></a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//ic.epfl.ch/computer-science"><strong>Computer
                                Science</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//ic.epfl.ch/communication-systems"><strong>Communication
                                Systems</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//ic.epfl.ch/data-science"><strong>Data
                                Science</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header sv-color"><a href="//sv.epfl.ch/home">Life Sciences <abbr
                                title="Life Sciences">SV</abbr></a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//bioengineering.epfl.ch/"><strong>Bioengineering</strong></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="//sv.epfl.ch/BMI"><strong>Neuroscience Brain
                                Mind &amp; Blue Brain</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//sv.epfl.ch/GHI"><strong>Global
                                Health</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//sv.epfl.ch/ISREC"><strong>Cancer</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header cdm-color"><a href="//cdm.epfl.ch/homepage">Management of
                            Technology <abbr title="Management of Technology">CDM</abbr></a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//cdm.epfl.ch/mtei"><strong>Management of
                                Technology</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//cdm.epfl.ch/itpp"><strong>Technology and
                                Public Policy</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//sfi.epfl.ch"><strong>Financial
                                Engineering</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media clear nav nav-vertical">
                        <header><h2 class="media-header cdh-color"><a href="//cdh.epfl.ch/en">College of Humanities
                            <abbr title="College of Humanities">CDH</abbr></a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//cdh.epfl.ch/humanities-and-social-sciences"><strong>Human
                                and Social Science</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//iags.epfl.ch"><strong>Area and Global
                                Studies</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//cdh.epfl.ch/dh"><strong>Digital
                                Humanities</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="http://www.epfl.ae">EPFL Middle East</a>
                        </h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//master.epfl.ch/energy"><strong>Energy
                                management and sustainability</strong></a></li>
                        </ul>
                    </section>
                </nav>
            </div>
            <div id="about-pane" class="pane about toggle-hidden ui-overlay" aria-hidden="true">
                <nav role="navigation" aria-labelledby="about-link"><h1 class="visuallyhidden">Global information
                    links</h1>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header"><a href="//information.epfl.ch/introduction"><abbr
                                class="epfl-color2" title="École polytechnique fédérale de Lausanne">EPFL</abbr></a>
                        </h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//direction.epfl.ch/en/presentation"><strong>Direction</strong></a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//library.epfl.ch/en"><strong>Library</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//emploi.epfl.ch/en"><strong>Job
                                offers</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//international.epfl.ch/homepage"><strong>International
                                relations</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//futuretudiant.epfl.ch/en">Education</a>
                        </h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//cms.epfl.ch/"><strong>Preparatory
                                course </strong><abbr title="Cours de Mathématiques Spéciales">CMS</abbr></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//bachelor.epfl.ch/studies"><strong>Bachelor</strong></a>, <a
                                    class="nav-link" href="//master.epfl.ch/en"><strong>Master</strong></a>, <a
                                    class="nav-link" href="//phd.epfl.ch/home"><strong>PhD</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="http://www.formation-continue-unil-epfl.ch/en"><strong>Continuing
                                education</strong></a> (EPFL-UNIL)
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//moocs.epfl.ch/information"><strong>MOOCs</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//research.epfl.ch/home">Research</a></h2>
                        </header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//research-office.epfl.ch/home"><strong>Research
                                Office</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//recherche.epfl.ch/research-commission"><strong>Research
                                Commission</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//recherche.epfl.ch/centers"><strong>Research
                                centers</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//infoscience.epfl.ch/?ln=en"><strong><abbr
                                    title="École polytechnique fédérale de Lausanne">EPFL</abbr>
                                Publications</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media clear nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//vpi.epfl.ch/en">Innovation &amp; Tech
                            Transfer</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link" href="//vpi.epfl.ch/partnerships"><strong>Partnerships</strong></a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//vpi.epfl.ch/innogrants"><strong>Start-up</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="http://www.alliance-tt.ch"><strong>Industrial
                                liaison</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//tto.epfl.ch/hompage_eng"><strong>Technology
                                transfer, patents</strong></a></li>
                        </ul>
                    </section>
                    <section class="g-span-1_3 media nav nav-vertical">
                        <header><h2 class="media-header epfl-color2"><a href="//information.epfl.ch/discover-campus">EPFL
                            Campus</a></h2></header>
                        <ul class="nav-list media-content">
                            <li class="nav-item"><a class="nav-link"
                                                    href="//fribourg.epfl.ch/en/home"><strong>Fribourg</strong></a>, <a
                                    class="nav-link" href="//geneva.epfl.ch/page-121741-en.html"><strong>Geneva</strong></a>,
                                <a class="nav-link" href="//neuchatel.epfl.ch"><strong>Neuchâtel</strong></a>, <a
                                        class="nav-link" href="//valais.epfl.ch/Homepage"><strong>Valais</strong></a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//rolexlearningcenter.epfl.ch/page-34751-en.html"><strong>Rolex
                                Learning Center</strong></a></li>
                            <li class="nav-item"><a class="nav-link" href="//www.stcc.ch/en/home/"><strong>SwissTech
                                Convention Center</strong></a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="//artlab.epfl.ch/home"><strong>ArtLab</strong></a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </header>
        <h1 class="hp-title js-fittext">Croque</h1>
    </div>
</div>

{{{ body }}}

<div class="epfl">
    <div class="site site-wrapper">
        <footer id="footer" class="site-footer" role="contentinfo">
            <div class="g-span-1_1">
                <nav class="nav nav-inline" role="navigation">
                    <ul class="nav-list">
                        <li class="nav-item"><a class="nav-link" href="https://www.epfl.ch/accessibility.en.shtml">Accessibility</a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="http://mediacom.epfl.ch/disclaimer">Disclaimer</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://information.epfl.ch/page15110-en.html">Contacts</a>
                        </li>
                        <li class="nav-item">EPFL,&nbsp;CH-1015&nbsp;Lausanne</li>
                        <li class="nav-item">+41&nbsp;21&nbsp;693&nbsp;11&nbsp;11</li>
                        <li class="nav-item copyright">© 2018 EPFL all rights reserved</li>
                        <li><a href="#top" class="hidden">Back to top</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</div>

<script src="/app.js"></script>
</body>
</html>