<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Croque</title>
    <!--<meta name="description" content="">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon-retina-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon-retina-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon-standard-ipad.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon-standard-iphone.png">-->
    <link href="/app.css" rel="stylesheet" type="text/css" media="all">
</head>
<body data-smooth-scroll-offset="50">
<div class="with-tilt">
    <div class="tilt"></div>
</div>
{{{ body }}}
<script src="/app.js"></script>
</body>
</html>