
<div class="ui one column stackable centered page grid">
    <div class="column eight wide">
        <br>
        {{> header }}

        {{# if user}}

            {{> lang }}

            {{# if joining}}

                {{> joining }}

            {{else}}

                {{> pending }}

            {{/if}}

        {{else}}

            {{> tequila }}

        {{/if}}

        {{> footer }}
        <br>
    </div>
</div>