
<div class="ui one column stackable centered page grid">
    <div class="column eight wide">
        <br>
        {{> header }}

        {{> lang }}

        {{# if user}}

            {{# if joining}}

                {{> joining }}

            {{else}}

                {{> pending }}

            {{/if}}

        {{else}}

            {{> pending }}

        {{/if}}

        {{# if user.reminder}}

            {{> unsubscribe }}

        {{else}}

            {{> subscribe }}

        {{/if}}

        {{> footer }}
        <br>
    </div>
</div>