
<div class="ui one column stackable centered page grid">
    <div class="column eight wide">
        <br>
        {{> header }}

        {{> lang }}
        {{> tequila }}

        {{> footer }}
        <br>
    </div>
</div>