
<div class="app">
    {{> header }}

    {{> lang }}

    {{> type }}

    {{# if user}}

        {{# if joining}}

            {{> joining }}

        {{else}}

            {{> pending }}

        {{/if}}

    {{else}}

        {{> pending }}

    {{/if}}

    {{# if user.reminder}}

        {{> unsubscribe }}

    {{else}}

        {{> subscribe }}

    {{/if}}

    {{> footer }}
</div>